<h1>Récapitulatif utilisateur</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Mon nom : {{userToPrint.nom}}</li>
  <li class="list-group-item">Mon prénom : {{userToPrint.prenom}}</li>
  <li class="list-group-item">Mon sexe : {{userToPrint.sexe}}</li>
  <li class="list-group-item">Mon adresse : {{userToPrint.adresse}}</li>
  <li class="list-group-item">Ma ville : {{userToPrint.ville}}</li>
  <li class="list-group-item">Mon code postal : {{userToPrint.codepostal}}</li>
  <li class="list-group-item">Mon téléphone : {{userToPrint.telephone}}</li>
  <li class="list-group-item">Mon email : {{userToPrint.email}}</li>
  <li class="list-group-item">Mon login : {{userToPrint.login}}</li>
  <li class="list-group-item">Mon mot de passe : {{userToPrint.password}}</li>
</ul>
